.group-display {
    background-color: white;
    border: 2px black;
    padding: 10;
    align-items: center;
    display: inline-block;
    font-size: 32px;
    width: 40%;
    border-radius: 20;
    color: black;
}

.group-info {
    font-size: 16px;
}

.groups-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    border-radius: 8px;
}

.schedule-col {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    align-content: stretch;
    height: 475px;
}

.table-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.available-time {
    background-color: green;
    border: 1px solid black;
    height: 10px;
}

.unavailable-time {
    background-color: white;
    border: 1px solid black;
    height: 10px;
    min-height: none;
}

.times {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 475px;
}
