.table-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.concise-table-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 90%;
    height: fit-content;
    font-size: 20px;
    overflow: hidden;
    margin-top: 2%;
}

.schedule-col {
    display: flex;
    flex-direction: column;
    width: 12.5%;
    align-items: center;
    align-content: stretch;
    height: 475px;
}

.concise-schedule-col {
    display: flex;
    flex-direction: column;
    width: 11.25%;
    align-items: center;
    align-content: stretch;
    height: 88px;
}

.available-time {
    background-color: green;
    border: 1px solid black;
    height: 32px;
    width: 100%;
    padding: 0;
}


.unavailable-time {
    background-color: white;
    border: 1px solid black;
    height: 32px;
    width: 100%;
    padding: 0;
}

.times {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 475px;
}

.concise-times {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 0px;
    height: 88px;
    width: 11.25%;
}

.bottom-time {
    padding-top: 8px;
    padding-bottom: 5px;
}