.schedule-col {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    align-content: stretch;
    height: 475px;
}

.table-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.available-time {
    background-color: green;
    border: 1px solid black;
    height: 10px;
}

.unavailable-time {
    background-color: white;
    border: 1px solid black;
    height: 10px;
    min-height: none;
}

.times {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 475px;
}