.group-display {
    background-color: white;
    border-width: 2px;
    border-color: black;
    align-items: center;
    font-size: 3vw;
    width: 40%;
    color: black;
    border-radius: 50px;
    padding: 0;
    height: fit-content;
    margin-bottom: 20px;
}

.group-info {
    font-size: 16px;
}

.groups-button {
    background-color: #41CB2B; /* Green */
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 10px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.detailed-groups-button {
    background-color: #41CB2B; /* Green */
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 10px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header {
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: center;
}

.header-contents {
    width: 85%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 1200px) {
    .group-display {
        width: 50%;
    }
}

@media (max-width: 850px) {
    .group-display {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .group-display {
        width: 80%;
        font-size: 4vw;
    }
    
    .header-contents {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .group-info {
        font-size: 2.5vw;
    }
}

@media (max-width: 400px) {
    .group-display {
        width: 95%;
        font-size: 6vw;
    }
    
    .header-contents {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .group-info {
        font-size: 3vw;
    }
}