.student-display {
    background-color: white;
    border-width: 2px;
    border-color: black;
    align-items: center;
    font-size: 32px;
    width: 40%;
    border-radius: 50px;
    color: black;
    padding: 0;
    height: fit-content;
    margin-bottom: 20px;
}

.student-info {
    font-size: 16px;
}

.students-button {
    background-color: #41CB2B; /* Green */
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 10px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.header {
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: center;
}

.header-contents {
    width: 85%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 1200px) {
    .student-display {
        width: 50%;
    }
}

@media (max-width: 850px) {
    .student-display {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .student-display {
        width: 80%;
        font-size: 4vw;
    }
    
    .header-contents {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .student-info {
        font-size: 2.5vw;
    }
}

@media (max-width: 400px) {
    .student-display {
        width: 95%;
        font-size: 6vw;
    }
    
    .header-contents {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .student-info {
        font-size: 3vw;
    }
}

.invitation-decline {
    background-color: red;
    margin-left: 1vw;
}

.invitation-label {
    margin-right: 2vw;
}

.invitation {
    margin-bottom: 2vh;
}